<h1>Burger Lounge!</h1>

<h2>These burgers look tasty!!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Where burgers get DEVOURED!!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>What burger would you like?</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <div class="form-group">
    <label for="slee">Hungry?</label><br>
    <input type="radio" name="devoured" value="1" checked> Sleepy!<br>
    <input type="radio" name="devoured" value="0"> Awake
  </div>

  <button type="submit">Add Burger!</button>
</form>
